.header {
  color: rgb(83, 33, 33);
  font-size: 23px;
  font-weight: 400 !important;
  padding: 30px 0;
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  width: 100% !important;
  height: 1px !important;
  background-color: rgba(83, 33, 33, 0.713);

  bottom: 0px;
  left: 0;
}
