.teacher__card {
  border: 2px solid black;
  border-radius: 8px;
  margin: 3% 0;
}
.school__name {
  padding: 6px;
  margin: 2px;
  font-size: 24px !important;
  width: fit-content;
  border: 1px solid black;
  border-radius: 0 5px 0 5px;
  text-align: right !important;
  color: rgb(34, 127, 34) !important;
}
.teacher__info {
  padding: 0 30px;
}
.teacher__data p {
  font-size: 20px;
}
.teacher__data p span {
  font-weight: 500;
}
.teacher__imgHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.teacher__imgHolder img {
  width: 200px;
  height: auto;
}
